.footer {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 668px 60px;
  opacity: 70%;
}
.footer__content {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
